/**
 * @name Element-V by Juice
 * @version 1.0
 * @description Element-V BetterDiscord Theme
 * @author Juice
 * @source https://github.com/codedotspectra/themes
 * @website https://element-v.de
 *//*
*/
@import url("https://elementjuice.github.io/configs/elementv.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /* Custom font import link (see fonts.google.com) */
@import url("https://discordstyles.github.io/RadialStatus/base.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");
/*##########################################################################
                 CHANGE VALUES BELOW TO CUSTOMIZE YOU THEME
##########################################################################*/
:root {
/*Servericons*/

  /* COLORS */
  --themeColor1: #36D1DC; /* Theme's color 1 */
  --themeColor2: #5B86E5; /* Theme's color 2 */

  /* CUSTOM FONT */
  --customFont: 'Whitney', sans-serif; /* Custom font, change the name in 'font name here', you must import the font first */
  --customtextColor: #0d0d0d;

  /* HOME BUTTON */
  --homeImage: url('https://i.ibb.co/Zc1qqzD/Vlogo.png');/* Home button image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --homeImageSize: contain;/* To cover the button, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */

  /* BACKGROUND */
  --backgroundColor: #0d0d0d28; /* Background color */
  --backgroundImage: url("https://i.ibb.co/ngQpjjh/testbackground.png"); /* Backround image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --backgroundPosition: center; /* Image position | center, left, right, bottom, top */
  --backgroundSize: cover; /* To cover the entire app, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */
  --backgroundRepeat: no-repeat; /* if you want the image to repeat | Google "css background repeat" */
  --backgroundBlur: 0px; /* Set to 0 to remove blur | Set to 10px for average blur */
  --backgroundOpacity: .50; /* 0 is transparent */
  --scrollbar-colour: #ffffff0d;

  /*Icon Settings*/
  --rs-small-spacing: 2px;  /* spacing between avatar and status */
  --rs-large-spacing: 3px;  /* spacing between avatar and status for user popouts & modals/profiles | MUST end in px */
  --rs-width: 2px;  /* Width/thickness of status border */
  --rs-avatar-shape: 50%;  /* 50% for round - 0% for square */
  --rs-online-color: #43b581;  /* color for online status */
  --rs-idle-color: #faa61a;  /* color for idle status */
  --rs-dnd-color: #f04747;  /* color for dnd status */
  --rs-offline-color: #636b75;  /* color for offline status */
  --rs-streaming-color: #643da7;  /* color for streaming status */
  --rs-invisible-color: #747f8d;  /* color for invisible status - Note this will only show for your own invisibility */

  /* CODE BLOCKS */
  --backgroundCode: rgba(0,0,0,.5);
  --backgroundName: rgba(0,0,0,.5);
}